.header-image {
    width: 100%;
    height: 100%;
}

.page-header {
    margin: 20px 0;
}

.main .container-fluid {
    padding: 0 30px 10px 30px;
}

h2, h3, h4 {
    margin: 0.5em 0;
}

h6 {
    margin: 1.5em 0;
}

h6.text-center.dropdown-header {
    margin: 0;
}

.1fa {
    margin-right: 5px;
}

.has-danger .input-group-btn .btn {
    color: #f86c6b;
    border-color: #f86c6b;
}

.fields-error {
    color: #f86c6b;
}

.fields-remove-button {
    margin-top: 29px;
    margin-left: -28px;
    color: #FFF !important;
    cursor: pointer;
}

.required {
    color: red;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

button i ~ span {
    margin-left: 0.5em;
}

li.page-item {
    cursor: pointer;
}




.categ-col-1, .categ-col-3 {
    text-align: center
}


/* Extra small viewport or screen */
@media only screen and (max-width : 480px) {
    button.espacamento { margin-left: 0.0em; }
    .categ-col-1 { width: 20%; }
    .categ-col-3 { width: 35%; }
}

/* Extra small viewport or screen */
@media only screen and (min-width : 480px) {
    button.espacamento { margin-left: 0.0em; }
    .categ-col-1 { width: 10%; }
    .categ-col-3 { width: 20%; }
}

/* Small viewport or screen */
@media only screen and (min-width : 768px) {
    button.espacamento { margin-left: 0.5em; }
    .categ-col-1 { width: 10%; }
    .categ-col-3 { width: 20%; }
}

/* Medium viewport or screen */
@media only screen and (min-width : 992px) {
    button.espacamento { margin-left: 0.5em; }
}

/* Large viewport or screen */
@media only screen and (min-width : 1200px) {
    button.espacamento {
        margin-left: 0.5em;
    }
}

.table td {
    padding: 0.35rem;
    vertical-align: inherit;
}

.nav-flag {
    min-width: 30px !important;
}

.nav-flag .btn {
    border: none;
}

.flag {
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
}

.flag-br {
    background-image: url('../img/flags/Brazil.png');
}

.flag-us {
    background-image: url('../img/flags/USA.png');
}

.tabela {
    background-color: #FFF;
}

.sidebar-nav a.nav-link {
    font-size: 80%;
    line-height: 1.0;
}

/* DESCONTAE COLORS */
header.app-header {
    background-color: rgba(39, 24, 15, 1);
}

header.navbar {
    border-bottom: none;
}

header.navbar a.navbar-brand {
    background-color: #271A0E;
    background-size: 120px auto;
    border-bottom: none;
}
 
.navbar-nav .nav-link, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: #FFF;
}

@media (max-width: 991px) {
    .app-header .navbar-toggler {
        color: #FFF;
    }

    .app-header .navbar-nav {
        right: 0;
    }
}

.sidebar {
    background-color: #333;
}

.sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, 
.sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, 
.navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
    top: 0.66875rem;
}

.breadcrumb {
    background-color: #FFF;
}

.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item.nav-dropdown.open a.nav-link.active,
.sidebar .nav .nav-item .nav-link.active i {
    color: #EAA421;
    background: #271A0E;
}

.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .nav-link:hover i,
.sidebar .nav .nav-item .nav-link.active:hover i {
    color: #FFF !important;
    background: #271A0E !important;
}

