/*
header.app-header {
    background-color: rgba(39, 24, 15, 1);
}

header.navbar {
    border-bottom: none;
}

header.navbar a.navbar-brand {
    background-color: #271A0E;
    background-size: 120px auto;
    border-bottom: none;
}
 
.navbar-nav .nav-link, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: #FFF;
}

@media (max-width: 991px) {
    .app-header .navbar-toggler {
        color: #FFF;
    }

    .app-header .navbar-nav {
        right: 0;
    }
}

.sidebar {
    background-color: #333;
}

.sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before, 
.sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, 
.navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
    top: 0.66875rem;
}

.breadcrumb {
    background-color: #FFF;
}

.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item.nav-dropdown.open a.nav-link.active,
.sidebar .nav .nav-item .nav-link.active i {
    color: #EAA421;
    background: #271A0E;
}

.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .nav-link:hover i,
.sidebar .nav .nav-item .nav-link.active:hover i {
    color: #FFF !important;
    background: #271A0E !important;
}

.react-numeric-input {
    width: 100%;
}

.react-numeric-input .form-control {
    width: 100%;
    direction: rtl;
}

.hr-destaque {
    border: 2px solid #cfd8dc;
    background-color: #cfd8dc;
}

.tab-content .tab-pane {
    border-left: solid 1px #cfd8dc;
    border-right: solid 1px #cfd8dc;
    border-bottom: solid 1px #cfd8dc;
}

p.form-control-plaintext {
    margin-bottom: 0;
    padding-top: 7px;
}
*/